html{
  font-family: 'Press Start 2P', cursive;
  color: white;
}
body{
  background-color: black;
}
h1,p{
  text-align: center;
}
#survey-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
#container{
  margin: 0 auto;
  width: 75%;
  max-width: 900px;
}
#img-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
#img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
  width: auto;
}
.labels{
  display: inline-block;
  text-align: right;
   width: 40%; 
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.answers{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: 10px;
}
#butt{
  text-align: right;
  margin-top: 30px;
}
textarea{
  height:50px;
  width: 168px;
  resize:vertical;
}

 
@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .answers {
    width: 80%;
    float: left;
  }


